#root {
  max-width: 1280px;
  margin: 0px auto;
  text-align: center;
}

.base {
  height: 80vh;
  display: flex;
}

.editor {
  border: 1px solid white;
  width: 50%;
  height: 100%;
  margin-right: 10%;
}

/* .text-input {
  border: 1px solid white;
  width: 50%;
  height: 100%;
  margin-right: 10%;
} */

.output {
  border: 1px solid white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.code-input {
  resize: none;
  width: 99%;
  height: 99%;
  white-space: nowrap;
  overflow: auto;
}

.code-output {
  caret-color: yellow;
  border-top: none;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 14px;
  color: white;
}

.immutable-output {
  font-size: 14px;
  font-family: monospace;
  background-color: #3b3b3b;
  border-bottom: none;
  text-align: left;
  margin-left: 2px;
  line-height: 17px;
  color: white;
}
